/* ! GENERAL CSS ------------------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

html{
    scroll-behavior: smooth; /* rendo smooth l'anchor*/
}

/* * BOXES & MY CLASSES----------------------------- */
.mainResponsiveBox{
    width: 80%;
    margin: auto;
    max-width: 1000px;
}

header{
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* opacity: .5; debug */
}

main::before{
    content:'';
    display:block;
    height:50px;
}

section{
    scroll-margin-top: 75px;
}

nav{
    display: none;
}

nav > ul{
    list-style-type: none;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    line-height: 4rem;
}

p{
    font-size: 1rem;
    line-height: 1.8rem;
}

li a{
    text-decoration: none;
    color: white;
    transition: opacity .2s;
}

.card{
    width: 100%;
    text-align: center;
    border-radius: 20px;
    padding: 1.5em;
}

.card#bigCard{
    padding-bottom: 0;
    text-align: start;
}

#moreRounded{
    border-radius: 40px;
}

.perfectCircle{
    /* background-color: red; debug line */
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.aboutUsSection .secondBox .fa-quote-left{
    position: absolute;
    color: #9593e6;
    font-size: 15vw;
    top: 0;
    right: 0;
    z-index: 1;
}

.fa-bars{
    font-size: 1.5rem;
}

/* ? IMAGES--------------------------------------- */
img{
    width: 100%;
}

img[alt="phone"]{
    width: 90%;
    display: block;
    margin: auto;
}

img[alt="testimonial"], img[alt="aboutMan"]{
    position: absolute;
    height: 100%;
    width: auto;
}

img[alt="testimonial"]{
    top: 0;
    left: -25%;
}

img[alt="aboutMan"]{
    top: 0;
    left: 0;
}

img[alt="logo"]{
    padding: 1rem 0;
}

/* ? BUTTONS-------------------------------------- */
button{
    border: none;
    padding: .5rem 3rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: shadow-box, opacity .2s;
}

.circleButton{
    padding: 1rem 1.2rem;
    border-radius: 50%;
}

/* ? HOVER---------------------------------------- */

button:hover, li a:hover{
    opacity: .7;
    cursor: pointer;
}

/* ? MARGIN & PADDING----------------------------- */
/* padding */
.smallTopPadding    { padding-top: .6em; }
.smallPadding       { padding: 1rem;}
.smallRowPadding    { padding-top: 1em; padding-bottom: 1em; }
.smallColPadding    { padding-right: 1em; padding-left: 1em; }
.mediumRowPadding   { padding-top: 3rem; padding-bottom: 3rem; }
.mediumBotPadding   { padding-bottom: 3rem; }
.mediumPadding      { padding: 3rem; }
.bigRowPadding      { padding-top: 5rem; padding-bottom: 5rem; }
.hugeRowPadding     { padding-top: 8rem; padding-bottom: 8rem; }
/* margin */
.smallRowMargin     { margin-top: 1em; margin-bottom: 1em; }
.smallBotMargin     { margin-bottom: 1rem; }
.smallTopMargin     { margin-top: 1em; }
.smallMarginRight   { margin-right: .5em; }
.smallMarginLeft    { margin-left: .5em; }
.mediumRowMargin    { margin-top: 2.5em; margin-bottom: 2.5em; }
.mediumTopMargin    { margin-top: 2.5em; }
.mediumBotMargin    { margin-bottom: 2.5rem; }
.mediumMarginRight  { margin-right: 2.5rem; }
.bigMarginLeft      { margin-left: 5em; }
.bigMarginRight     { margin-right: 5em; }
.bigTopMargin       { margin-top: 5em;}
.bigRowMargin       { margin-top: 5em; margin-bottom: 5em;}
.hugeTopMargin      { margin-top: 10rem; }
.hugeRowMargin      { margin-top: 10rem; margin-bottom: 10rem; }

/* ? FLEX----------------------------------------- */
.flexRow            { display: flex; flex-direction: row; }
.flexCol            { display: flex; flex-direction: column;}
.flexWrap           { flex-wrap: wrap;}
/* main axis */
.flexMainCenter     { justify-content: center; }
.flexMainEnd        { justify-content: flex-end; }
.flexMainBetween    { justify-content: space-between; }
.flexMainAround     { justify-content: space-around; }
/* cross axis */
.flexCrossCenter    { align-items: center;}
.flexCrossStretch   { align-items: stretch;}
.flexCrossEnd       { align-items: end;}
.flexCrossBaseline  { align-items: baseline;}
/* gaps */
.smallGap   { gap: 1rem;}
.mediumGap  { gap: 3rem;}
.largeGap   { gap: 5rem;}
.hugeGap    { gap: 10rem;}

/* ? WIDTH---------------------------------------- */
.col10  { width: 10%; } /* corrisponde a 1/10 */
.col14  { width: calc(100% / 7);} /* corrisponde a 1/7 */
.col15  { width: 15%; }
.col20  { width: 20%; } /* corrisponde a 1/5 */
.col25  { width: 25%; } /* corrisponde a 1/4 */
.col30  { width: 30%; }
.col32  { width: 32%;}
.col33  { width: calc(100% / 3); } /* corrisponde a 1/3 */
.col40  { width: 40%; }
.col50  { width: 50%; } /* corrisponde a 1/2 */
.col60  { width: 60%; } /* corrisponde a 3/5 */
.col66  { width: calc(100% / 3 * 2); } /* corrisponde a 2/3 */
.col70  { width: 70%; }
.col75  { width: 75%; }
.col80  { width: 80%; }
.col90  { width: 90%; }
.col100 { width: 100%; }

/* ? HEIGHT--------------------------------------- */
.microMinH  { min-height: 30px; }
.tinyMinH   { min-height: 80px; }
.smallMinH  { min-height: 120px; }
.mediumMinH { min-height: 250px; }
.largeMinH  { min-height: 450px; }
.hugeMinH   { min-height: 600px; }
.h100       { height: 100%;}

.maxHeightEqualsToWidthDiv3{ max-height: calc(100vw / 3);}

/* ? BORDER--------------------------------------- */
.bordSection{ border: black 2px dashed; }
.grayBorder{ border: 2px solid #ededed; }

/* ? BG COLORS------------------------------------ */
.bgBlue         {background-color: #0083fd; }
.bgGreen        {background-color: #008000; }
.bgPurple       {background-color: #8a2be2; }
.bgOrange       {background-color: #ff6801; }
.bgRed          {background-color: #fe0100; }
.bgPink         {background-color: #ffc0cb; }
.bgYellow       {background-color: #ffff00; }
.bgGrey         {background-color: #f5f5f5; }
.bgTeal         {background-color: #008080; } 
.bgBrown        {background-color: #a52a2a; }
.bgWhite        { background-color: white; }
.bgBlack        { background-color: black; }
.bgClearBlack   { background-color: #363636; } 
.bgSkyblue      { background-color: #b3dcff; }
.bgPeriwinkle   { background-color: #9593e6; }

/* UTILITY---------------------------------------- */
.textAlCenter{ text-align: center; }
.textAlStart{ text-align: start; }
.textCanceled{ text-decoration: line-through; }
.textUnderline{ text-decoration: underline;}
.textColorRed{ color: red; }
.textColorGrey{ color: #516170; }
.textColorGreen{ color: #4ac801; }
.textColorWhite{ color: white; }
.textColorBlue{ color: #0083fd; }
.textColorSkyBlue{ color: #b3dcff; }
.textColorPeriwinkle{ color: #9593e6; }
.textColorLightGrey{ color: #8d8d8d; }
.textColorGold{ color: #fdc05f; }
.textColorClearblack { color: #60092b; }
.textTiny{ font-size: .6em; }
.overFlowY{ overflow-y: auto;}
.posRelative{ position: relative;}
.italicText{ font-style: italic;}
.marginReset{ margin: 0 !important;}
.overflowAuto{ overflow-y: auto;}
.resetAll{ all: initial; }
.marginAuto{ margin: auto; }
.biggerText{ font-size: 3em;}
.smallerText{ font-size: .6em; }
.largerText{ font-size: 1.5em;}
.tinyText{ font-weight: 400;}


/* RESPONSIVE------------------------------------- */

/* tablet: dai 768px in giù
mobile: dai 480px in giù */

@media screen and (min-width: 480px){
    .mainResponsiveBox{
        width: 90%;
    }

    #infoSection .card{
        width: calc(100% / 3 - 1rem);
    }

    .card{
        padding: 1.5rem 1rem;
    }

    .card#bigCard{
        width: calc(100% / 3 * 2 - 1rem);
    }

    h2{
        font-size: 3rem;
    }
    
    h3{
        font-size: 1rem;
        line-height: 3rem;
    }
    
    p{
        font-size: .8rem;
        line-height: 1.5rem;
    }

    img[alt="phone"]{
        width: 180px;
        margin-left: .5rem;
    }

    #testimonialSection .firstBox{
        width: 25%;
    }

    #testimonialSection .secondBox{
        width: 70%;
        text-align: start;
    }

    #benefitsSection .card{
        width: 48%;
    }

    #aboutUsSection .firstBox{
        width: 60%;
    }

    #aboutUsSection .secondBox .col60{
        width: 100%;
    }

    #aboutUsSection .secondBox .fa-quote-left{
        font-size: 9vw;
    }

    #aboutUsSection .secondBox button{
        font-size: .6rem;
        padding: .5rem 1rem;
    }

    #aboutUsSection .secondBox{
        width: 30%;
    }

    #aboutUsSection .posRelative{
        margin: 0 0 1rem 0;
    }
}

@media screen and (min-width: 768px){
    #planningSection .firstBox, #planningSection .secondBox{
        width: 45%;
    }

    h2{
        font-size: 3rem;
    }
    
    h3{
        font-size: 1.2rem;
        line-height: 3rem;
    }
    
    p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #benefitsSection .card{
        width: calc(100% / 3 - 1rem);
    }

    #aboutUsSection .firstBox{
        width: 70%;
    }

    #aboutUsSection .posRelative{
        margin: 0 0 1rem 0;
    }

    #aboutUsSection .secondBox{
        width: 20%;
    }

    #aboutUsSection .secondBox .fa-quote-left{
        font-size: 6.5vw;
    }

    i.fa-bars{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul li button{
        padding: .5rem 1rem;
    }
}

@media screen and (min-width: 1100px){
    #aboutUsSection .secondBox .fa-quote-left{
        font-size: 4.5rem;
    }
}